[submodule "backend"]
	path = backend
	url = https://github.com/bradborn13/TravelSwipe-BE.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/bradborn13/TravelSwipe-FE.git
[submodule "dotNetBe"]
	path = dotNetBe
	url = https://github.com/bradborn13/TravelSwipe-DotNet.git
